body
{
   background-image: linear-gradient(cornflowerblue,pink);
   
}
h1, h2{
    text-align: center;
    color: blue;
}
.card
{   
    box-shadow: 10px 5px 5px cornflowerblue;
    background-image: linear-gradient(blue,white);
    text-align: center;
    border-style: solid;
    border-width: 1px;
    justify-content:space-between ;
    margin: 100px;
    width:250px;
    height:320px;
    border-radius: 5px;
}
.card-header
{
    height:100px;
    color:black;
    background-color:blueviolet;
    border: 2px solid black;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    border: 5px;
}
.list
{  
   margin-top: 10px;
   justify-content: left;
}
ul
{  
   margin-top:20px; 
   margin-bottom:40px; 
   padding-inline-start: 0;
   
}
li{
    color:black;
    font-size: small;
    height: 25px;
    text-align: start;
    margin: 10px;
    list-style-type:none ;
    border: 1px solid black;
}
p{
    color:blueviolet;
}
.card:hover
{
    box-shadow: 10px 5px 5px black;
}
